<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hkd.mapper.UserMapper">

    <select id="searchByUserid" resultType="com.hkd.entity.User" parameterType="Integer">
        select
			id as id,
			user_name as userName,
			password as password,
			pay_password as payPassword,
			realname as realname,
			realname_status as realnameStatus,
			realname_time as realnameTime,
			real_count as realCount,
			last_full_time as lastFullTime,
			id_number as idNumber,
			user_sex as userSex,
			user_age as userAge,
			qq as qq,
			user_phone as userPhone,
			taobao_account as taobaoAccount,
			email as email,
			wechat_account as wechatAccount,
			education as education,
			marital_status as maritalStatus,
			present_address as presentAddress,
			present_address_distinct as presentAddressDistinct,
			present_latitude as presentLatitude,
			present_longitude as presentLongitude,
			present_period as presentPeriod,
			company_name as companyName,
			company_address as companyAddress,
			company_address_distinct as companyAddressDistinct,
			company_longitude as companyLongitude,
			company_latitude as companyLatitude,
			company_phone as companyPhone,
			company_period as companyPeriod,
			first_contact_name as firstContactName,
			first_contact_phone as firstContactPhone,
			frist_contact_relation as fristContactRelation,
			second_contact_name as secondContactName,
			second_contact_phone as secondContactPhone,
			second_contact_relation as secondContactRelation,
			create_time as createTime,
			create_ip as createIp,
			update_time as updateTime,
			status as status,
			invite_userid as inviteUserid,
			is_save as isSave,
			head_portrait as headPortrait,
			idcard_img_z as idcardImgZ,
			idcard_img_f as idcardImgF,
			customer_type as customerType,
			amount_min as amountMin,
			amount_max as amountMax,
			amount_available as amountAvailable,
			equipment_number as equipmentNumber,
			zm_score as zmScore,
			zm_score_time as zmScoreTime,
			zm_industy_black as zmIndustyBlack,
			zm_over as zmOver,
			zm_no_pay_over as zmNoPayOver,
			zm_industy_time as zmIndustyTime,
			zm_status as zmStatus,
			jxl_token as jxlToken,
			jxl_token_time as jxlTokenTime,
			jxl_status as jxlStatus,
			jxl_detail_time as jxlDetailTime,
			jxl_zj_dk_num as jxlZjDkNum,
			jxl_bj_dk_num as jxlBjDkNum,
			jxl_yj_hf as jxlYjHf,
			jxl_link2_days as jxlLink2Days,
			jxl_link1_days as jxlLink1Days,
			jxl_link2_num as jxlLink2Num,
			jxl_link1_num as jxlLink1Num,
			jxl_link2_order as jxlLink2Order,
			jxl_link1_order as jxlLink1Order,
			jxl_gj_ts as jxlGjTs,
			jxl_ht_phone_num as jxlHtPhoneNum,
			jxl_amth_num as jxlAmthNum,
			jxl_time as jxlTime,
			user_contact_size as userContactSize,
			history_over_num as historyOverNum,
			last_over_days as lastOverDays,
			csjy as csjy,
			user_from as userFrom,
			amount_addsum as amountAddsum,
			new_flag as newFlag,
			qys_id as qysId
		from user_info
		where id = #{id}
    </select>
</mapper>